#inspectionSummary {
  padding-bottom: .5em;
  margin-bottom: .5em;
  margin-left:.9em;
}

#inspectionSummary span {
  float: left;
}

#inspectionSummary .txt {
  width: 8em;
  margin-left: 1em;
}

h3 {
  font-size: 90%;
  margin-bottom: 0.2em;
  margin-left:.9em;
}
